:root {
    /* escala cinza */
    --cor-00: #ffffff;
    --cor-01: #f7f7f7;
    --cor-02: #ededed;
    --cor-03: #dedede;
    --cor-04: #cccccc;
    --cor-05: #b2b2b2;
    --cor-06: #9c9c9c;
    --cor-07: #717171;
    --cor-08: #595959;
    --cor-09: #404040;
    --cor-10: #2e2e2e;
    --cor-11: #111111;
    --cor-12: #000000;
    /* cores primarias */
    --cor-p1: #EDE5DE;
    --cor-p2: #C29576;
    --cor-p3: #AD8C74;
    --cor-p4: #B0997D;
    --cor-p5: #B29F8E;
    --cor-p6: #A28A78;
    --cor-p7: #735E4F;
    --cor-p8: #6B3F23;
    --cor-p9: #38261C;
  }
/*class cor primaria */
.cor-p1 {
    color: var(--cor-p1);
  }
  .cor-p2 {
    color: var(--cor-p2);
  }
  .cor-p3 {
    color: var(--cor-p3);
  }
  .cor-p4 {
    color: var(--cor-p4);
  }
  .cor-p5 {
    color: var(--cor-p5);
  }

  /* class cor cinza */
.cor-00 {
    color: var(--cor-00);
  }
  .cor-01 {
    color: var(--cor-01);
  }
  .cor-02 {
    color: var(--cor-02);
  }
  .cor-03 {
    color: var(--cor-03);
  }
  .cor-04 {
    color: var(--cor-04);
  }
  .cor-05 {
    color: var(--cor-05);
  }
  .cor-06 {
    color: var(--cor-06);
  }
  .cor-07 {
    color: var(--cor-07);
  }
  .cor-08 {
    color: var(--cor-08);
  }
  .cor-09 {
    color: var(--cor-09);
  }
  .cor-10 {
    color: var(--cor-10);
  }
  .cor-11 {
    color: var(--cor-11);
  }
  .cor-12 {
    color: var(--cor-12);
  }
