/* HEADER GERAL */
#HeaderOverlay {
    position: relative;
  }
.header {
  max-height: 90px;
  position: absolute;
  width: 100%;
}

.header__container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
/* HEADER IMAGE */
.header__logo a {
  display: inline-block;
  /* width: 90px; */
}
.header__logo img {
  max-width: 110px;
  transition: transform 0.3s;
}
.header__logo img:hover {
  transform: scale(1.1);
}
/* HEADER MENU */
.header__menu {
  text-align: center;
  /* padding: 26px 0 25px; */
}
.header__menu.mobile-menu ul {
  display: flex;
  justify-content: space-around;
  margin-bottom: 0;
  gap: 40px;
}
.header__menu ul li {
  list-style: none;
  display: inline-block;
  /* margin-right: 45px;   */
  position: relative;
}
.header__menu ul li.active a:after {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.header__menu ul li:hover a:after {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.header__menu ul li:hover .dropdown {
  top: 35px;
  opacity: 1;
  visibility: visible;
  flex-direction: column;
}

.header__menu ul li:last-child {
  margin-right: 0;
}

.header__menu ul li .dropdown {
  position: absolute;
  left: 0;
  top: 56px;
  width: 150px;
  background: #111111;
  text-align: left;
  padding: 15px 0;
  z-index: 9;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  transition: all, 0.3s;
  flex-direction: column;
}

.header__menu ul li .dropdown li {
  display: block;
  margin-right: 0;
}

.header__menu ul li .dropdown li a {
  font-size: 14px;
  color: #000000;
  font-weight: 400;
  padding: 5px 20px;
  text-transform: capitalize;
}

.header__menu ul li .dropdown li a:after {
  display: none;
}

.header__menu ul li a {
  font-size: 18px;
  color: #ffffff;
  display: block;
  font-weight: 600;
  position: relative;
  padding: 3px 0;
}
