/* Background Header */
.header_bg {
  background-color: var(--cor-00);
}
/* header img */
.header img {
  width: 100%;
  max-width: 8.75rem;
}
/* Header */
.header {
  position: relative;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  padding: 2rem;
  align-items: center;
  z-index: 999;
}
.header_menu_items {
  display: flex;
  gap: clamp(1rem, 3vw, 3rem);
  align-self: center;
  /* text-transform: uppercase; */
}
.header_menu_items a{
  color: #735E4F;
}
.mobile_nav_toggle {
    display: none;
  }
/* Header menu */
.header_menu {
  align-items: center;
}

