/* Background Header */
.header_bg {
  background: linear-gradient(#f5f3f26e, #ffffff, #f5f3f23f);
}
/* header img */
.header img {
  width: 100%;
  max-width: 10rem;
}
/* Header */
.header {
  position: relative;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  padding: 1.5rem;
  align-items: center;
  z-index: 999;
}
.header_menu_items {
  display: flex;
  gap: clamp(1rem, 3vw, 3rem);
  align-self: center;
  text-transform: uppercase;
}
.header_menu_items a {
  color: #735e4f;
}
.mobile_nav_toggle {
  display: none;
}
/* Header menu */
.header_menu {
  align-items: center;
}
