/* responsive header */
@media (max-width: 35em) {
  /* persons */
  #home .person_0_grid {
    display: block;
  }
  #home .person_1_grid {
    display: none;
  }
  #home .person_2_grid {
    display: none;
  }
  /* FOOTER */
  #footer {
    /* box-shadow: inset 0px 50px 0px 0px rgb(255, 255, 255); */
  }
  .mapa_footer {
    display: none;
  }
  .footer_direitos {
  }
  .footer_content {
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }
}
@media (max-width: 55em) {
  /* GALLERY */

  #gallery .gallery_column:hover > a:hover {
    transform: scale(1);
    z-index: 10;
  }
  #gallery .gallery_column:hover > a:hover img {
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.5);
  }
  #gallery .gallery_column:hover > a:not(:hover) {
    opacity: 1;
  }
  /* HEADER  MENU*/
  .header img {
    width: min(30vw, 6.25rem);
  }
  .header_menu_items a {
    color: #ede5de;
  }
  .header_menu ul li {
    /* margin-right: 40px; */
    align-self: center;
  }
  .header_menu_items {
    z-index: 1;
    gap: 2em;
    position: fixed;
    inset: 0% 0 0 20%;
    height: 100%;
    flex-direction: column;
    padding: 0;
    background: hsl(0 0% 100% / 0.1);
    backdrop-filter: blur(1rem);
    transform: translateX(100%);
    transition: transform 350ms ease-in-out;
    justify-content: center;
  }

  .header_menu_items[data-visible='true'] {
    body {
      overflow: hidden;
    }
    transform: translateX(0%);
  }
  /* menu-hamburguer */
  .mobile_nav_toggle {
    position: absolute;
    display: block;
    background-image: url(../../img/icon/menu.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    z-index: 99;
    width: 2rem;
    aspect-ratio: 1;
    top: 1.5rem;
    right: 2rem;
    border: 0;
    cursor: pointer;
  }
  .mobile_nav_toggle[aria-expanded='true'] {
    background-image: url(../../img/icon/close.svg);
  }
  .ur_pos {
    height: 40px;
  }
}

@media (min-width: 35em) and (max-width: 55em) {
  .header_menu_items {
    /* justify-content: center; */

    padding: 100px 20px;
  }
  .header img {
    width: min(30vw, 110px);
  }
  .header_menu_items a > span[aria-hidden] {
    display: none;
  }
  /* persons */
  #home .sobre_nos img {
    width: 300px;
    height: 300px;
    object-fit: cover;
  }
  #home .person_1_text .tittle,
  #home .person_2_text .tittle {
    margin-bottom: 20px;
  }
  #home .person_1_text {
    max-width: 300px;
    line-height: 1rem;
    left: 280px;
    top: 20px;
    bottom: 20px;
    padding: 1.2rem;
  }
  #home .person_2_text {
    max-width: 300px;
    line-height: 1rem;
    right: 280px;
    top: 20px;
    bottom: 20px;
    padding: 1.2rem;
  }
  .mapa_footer {
    display: none;
  }
}

@media (min-width: 35em) {
  .header_menu_items {
    /* gap: clamp(1rem, 5vw, 2rem); */
    /* padding-block: 2rem; */
    /* padding-inline: clamp(3rem, 10vw, 10rem); */
  }
}
@media (max-width: 620px) {
  #home .person_1_text p,
  #home .person_2_text p {
    font-size: 14px;
  }
}
