@font-face {
  font-family: "BS";
  src: url(/assets/fonts/brown-sugar/brown-sugar.ttf) format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "BS";
  src: url(/assets/fonts/brown-sugar/brown-sugar.ttf) format("truetype");
  font-style: normal;
}
