#home .card_collection {
  position: relative;
  display: flex;
  padding: 10px;
  overflow: hidden;
  margin-bottom: 40px;
  
}
#home .cards img {
  width: 100%;
  height: auto;
  
}
#home .cards {
  max-height: 300px;
  max-width: 500px;
  background-size: cover;
  float: left;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  background-position: center;
  margin: 10px;
  transition: transform 1s ease;
  background-size: cover;
  
}
#home .cards a {
  text-decoration: none;
  color: var(--cor__tema);
  padding: 10px 20px;
  border: 1px solid var(--cor__tema);
  border-radius: 4px;
}
#home .cards a:hover {
  background-color: var(--cor__tema);
  color: #fff;
  border-radius: 4px;
}

#home .cards__one {
  position: relative;
  cursor: pointer;
  transition: transform 1s ease;
}
#home .cards__text {
  position: absolute;
  bottom: 0;
  padding: 20px;
  z-index: 9;
  background-color: #fff;
  opacity: 0;
  transition: opacity 1s ease, transform 2s ease;
  transform: translateX(-100%);
  border: 1px solid var(--cor__tema);
  
}
#home .cards__text h3{
    font-size: 16px;
}
#home .cards__text p{
    font-size: 12px;
}


#home .cards:hover .cards__text {
  opacity: 1;
  transform: translateX(0);
  transition: transform 1s ease;
}
