:root {
  /* escala cinza */
  --cor-00: #ffffff;
  --cor-01: #f7f7f7;
  --cor-02: #ededed;
  --cor-03: #dedede;
  --cor-04: #cccccc;
  --cor-05: #b2b2b2;
  --cor-06: #9c9c9c;
  --cor-07: #717171;
  --cor-08: #595959;
  --cor-09: #404040;
  --cor-10: #2e2e2e;
  --cor-11: #111111;
  --cor-12: #000000;
  /* cores primarias */
  --cor-p1: #ede5de;
  --cor-p2: #c29576;
  --cor-p3: #ad8c74;
  --cor-p4: #b0997d;
  --cor-p5: #b29f8e;
  --cor-p6: #a28a78;
  --cor-p7: #735e4f;
  --cor-p8: #6b3f23;
  --cor-p9: #38261c;
}
/*class cor primaria */
.cor-p1 {
  color: var(--cor-p1);
}
.cor-p2 {
  color: var(--cor-p2);
}
.cor-p3 {
  color: var(--cor-p3);
}
.cor-p4 {
  color: var(--cor-p4);
}
.cor-p5 {
  color: var(--cor-p5);
}
.cor-p6 {
  color: var(--cor-p6);
}
.cor-p7 {
  color: var(--cor-p7);
}
.cor-p8 {
  color: var(--cor-p8);
}
.cor-p9 {
  color: var(--cor-p9);
}

/* class cor cinza */
.cor-00 {
  color: var(--cor-00);
}
.cor-01 {
  color: var(--cor-01);
}
.cor-02 {
  color: var(--cor-02);
}
.cor-03 {
  color: var(--cor-03);
}
.cor-04 {
  color: var(--cor-04);
}
.cor-05 {
  color: var(--cor-05);
}
.cor-06 {
  color: var(--cor-06);
}
.cor-07 {
  color: var(--cor-07);
}
.cor-08 {
  color: var(--cor-08);
}
.cor-09 {
  color: var(--cor-09);
}
.cor-10 {
  color: var(--cor-10);
}
.cor-11 {
  color: var(--cor-11);
}
.cor-12 {
  color: var(--cor-12);
}
