/* sobre nos */
#home .sobre_nos {
  display: grid;
  margin-bottom: 8rem;
  color: #735e4f;
}

/* title */
.sobre_nos h2 {
  padding: 0 32px;
  font-size: 1.3rem;
  font-family: 'Arial light';
  
}
/* img */
.sobre_nos img {
  max-width: 500px;
  /* height: 400px; */
  object-fit: cover;
}
/* persons */
.persons {
  display: flex;
  flex-direction: column;
  gap: clamp(5rem, 3vw, 3rem);
  position: relative;
}
/* persons mobile */
.person_0_grid {
  display: none;
}
.person_0 {
  display: flex;
  justify-content: center;
  margin-bottom: 2.5rem;
}
.person_0_text .tittle {
}
.person_0_text {
  text-align: center;
  padding: 1rem;
  line-height: 1.5rem;
}
/* persons 1 */
.person_1_grid {
  display: flex;
  position: relative;
}
.person_1_text .tittle{
  font-size: 2rem;
  line-height: 1em;
  /* text-align: center; */
}
.person_1_text {
  position: absolute;
  max-width: 500px;
  /* background-color: var(--cor-p1); */
  padding: 2rem;
  top: 20px;
  left: 500px;
  border-radius: 4px;
  line-height: 1.5rem;
}
.person_2_grid {
  display: flex;
  position: relative;
  justify-content: flex-end;
}
.person_2 {
}
.person_2_text {
  position: absolute;
  max-width: 500px;
  background-color: var(--cor-p1);
  padding: 2rem;
  top: 100px;
  right: 360px;
  border-radius: 4px;
  display: grid;
  justify-items: end;
  line-height: 1.5rem;
}
#sobre_nos .tittle {
  margin-bottom: 40px;
  font-family: 'BS';
  letter-spacing: 2px;
}
